

<!--
logoutDiv y  loginDiv   son id de ng-template
-->


<div *ngIf="usuario; then logoutDiv else loginDiv">

  <!--
  Aqui se cargara dinamicamente los ng-template de acuerdo a la consicion
  -->

</div>


<ng-template #logoutDiv>
  <h1>
    Bienvenido {{ usuario }}
  </h1>
  <button (click)="usuario = ''" class="btn btn-outline-danger">
    Salir
  </button>
</ng-template>


<ng-template #loginDiv>
  <h1>Pincha para ingresar</h1>
  <button class="btn btn-outline-success" (click)="usuario = 'Gustavo Marquez'">Ingresar</button>
</ng-template>
